@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap);
html, body {
    height: 100%;
    margin: 0;
    background-image: url(transparentlogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



/* this is the code for header fisle only */
.head{
    height:7vh;
    width:100%;
    
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px; */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color:rgb(217, 216, 216);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
    border-bottom: 3px solid black;
    

}
.logo{
    /* margin-left: 15px;; */
    background-color: rgb(209, 215, 220);
    min-height:95%;
    width:5%;
    /* border:1px solid black; */
    margin-right: auto;
    backdrop-filter:transparent;
    background-image: url(transparentlogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.company_name{
    display:flex;
    align-items: center;
    color:rgb(0, 37, 54);
    font-size:25px;
    font-family:rubik;
    text-align: center;
    /* font-weight: bold; */
    min-height:95%;
    width:35%;
    /* border:1px solid black;    */
    margin-right: auto;
    margin-left:10%;
}
